.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  color: var(--foreground-hex);
}

.header_rect {
  color: var(--foreground-text-inverse-hex);
  width: 100%;
  height: 10rem;
  /* background-color: #10009eb2; */
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    z-index: 1;
    font-family: var(--font-mono);
    margin: 2rem 2rem 0rem 2rem;
    padding: 1rem 1rem 0rem 1rem;
    font-size: 2rem;
  }

  .description {
    z-index: 1;
    padding: 1rem;
  }
}

.links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  z-index: 2;
  padding: 1rem;

  .link {
    /* image-: black; */
    color: white;
  }

  .link_image {
    box-shadow: none;
    border-radius: 1rem;

    transition: 0.05s all;
  }

  .link_image_unrounded {
    box-shadow: none;

    transition: 0.05s all;
  }

  .link_image:hover {
    background-color: #edebeb;
    box-shadow: 0rem 0rem 1rem 0rem #dbdbdb;
  }
  .link_image_unrounded:hover {
    background-color: #edebeb;
    box-shadow: 0rem 0rem 1rem 0rem #dbdbdb;
  }
}

/* .description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
} */

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    /* border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25); */
    background: rgb(var(--background-rgb));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: rgb(var(--background-rgb));
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
